@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
html {
	overflow-x: hidden;
}
header, nav {
	display: flex;
}
header {
	flex-direction: row;
	justify-content: space-around;
	padding: 0px 15%;
}
nav {
	align-content: space-between;
}
